/*****************************************
 App Container Width Control 
 ******************************************/
.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1920px; /* Max width for very large screens */
}

/* Responsive padding */
@media (min-width: 1024px) {
  .container {
    padding: 0 4vw;
  }
}

/* Font scaling for larger screens */
@media (min-width: 1920px) {
  body {
    font-size: 1.2rem;
  }
}

/******************************************
Header and Footer Styles 
******************************************/
:root {
  --header-height-mobile: 3px;
  --footer-height-mobile: 30px;
  --header-height-desktop: 40px;
  --footer-height-desktop: 40px;
  --header-height-large-desktop: 50px;
  --footer-height-large-desktop: 50px;
}

@media (min-width: 1024px) {

  /* large screens */
  :root {
    --header-height: var(--header-height-large-desktop);
    --footer-height: var(--footer-height-large-desktop);
  }
}

/* Scrollbar styles */
.custom-scrollbar {
  --scrollbar-thumb-bg: #c1c1c1;
  --scrollbar-thumb-rounded: 9999px;

  scrollbar-color: var(--scrollbar-thumb-bg) transparent;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: var(--scrollbar-thumb-rounded);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/******************************************
Emoji Flags
******************************************/
@font-face {
  font-family: 'FlagEmoji';
  unicode-range: U+1F1E6-1F1FF; /* Range for flag emojis */
  src: url("/fonts/Flags.woff2") format('woff2');
}